<div class="lg:mt-10 text-gray-600 lg:flex lg:justify-between">
  <div class="w-full">
    <h1
      class="font-extrabold text-[2.5rem] lg:text-[71px] text-gray-900 leading-none mb-[2rem] mt-[3rem]"
    >
      Thanks for joining the waitlist 🎉
    </h1>

    <div class="py-2">
      <h1 class="text-xs lg:text-sm text-[#52525B]">
        Welcome to Muuster family 🎉
      </h1>
    </div>
  </div>
  <div class="lg:py-5 w-full flex justify-end">
    <div>
      <!-- <img
        src="/assets/public/Card1.png"
        alt="waitlist image"
        class="rounded-lg"
      /> -->
      <img
        src="/assets/public/Image5.jpg"
        alt="waitlist image"
        class="rounded-lg"
      />
    </div>
  </div>
</div>
